
<div id="container">
    <textarea id="write" rows="6" cols="60"></textarea>
    <ul id="keyboard">
        <li class="symbol"><span class="off">|</span><span class="on">°</span></li>
        <li class="symbol"><span class="off">1</span><span class="on">!</span></li>
        <li class="symbol"><span class="off">2</span><span class="on">"</span></li>
        <li class="symbol"><span class="off">3</span><span class="on">#</span></li>
        <li class="symbol"><span class="off">4</span><span class="on">$</span></li>
        <li class="symbol"><span class="off">5</span><span class="on">%</span></li>
        <li class="symbol"><span class="off">6</span><span class="on">&</span></li>
        <li class="symbol"><span class="off">7</span><span class="on">/</span></li>
        <li class="symbol"><span class="off">8</span><span class="on">(</span></li>
        <li class="symbol"><span class="off">9</span><span class="on">)</span></li>
        <li class="symbol"><span class="off">0</span><span class="on">=</span></li>
        <li class="symbol"><span class="off">'</span><span class="on">?</span></li>
        <li class="symbol"><span class="off">¿</span><span class="on">¡</span></li>
        <li class="delete lastitem">Borrar</li>
        <li class="tab">Tab</li>
        <li class="letter">Q</li>
        <li class="letter">W</li>
        <li class="letter">E</li>
        <li class="letter">R</li>
        <li class="letter">T</li>
        <li class="letter">Y</li>
        <li class="letter">U</li>
        <li class="letter">I</li>
        <li class="letter">O</li>
        <li class="letter">P</li>
        <li class="symbol"><span class="off">´</span><span class="on">¨</span></li>
        <li class="symbol"><span class="off">+</span><span class="on">*</span></li>
        <li class="return1 lastitem">Enter</li>
        <li class="capslock">B. Mayús</li>
        <li class="letter">A</li>
        <li class="letter">S</li>
        <li class="letter">D</li>
        <li class="letter">F</li>
        <li class="letter">G</li>
        <li class="letter">H</li>
        <li class="letter">J</li>
        <li class="letter">K</li>
        <li class="letter">L</li>
        <li class="letter">Ñ</li>
        <li class="symbol"><span class="off">{{'{'}}</span><span class="on">[</span></li>
        <li class="symbol"><span class="off">{{'}'}}</span><span class="on">]</span></li>
        <li class="return2 lastitem"></li>
        <li class="left-shift">Shift</li>
        <li class="letter">Z</li>
        <li class="letter">X</li>
        <li class="letter">C</li>
        <li class="letter">V</li>
        <li class="letter">B</li>
        <li class="letter">N</li>
        <li class="letter">M</li>
        <li class="symbol"><span class="off">,</span><span class="on">;</span></li>
        <li class="symbol"><span class="off">.</span><span class="on">:</span></li>
        <li class="symbol"><span class="off">-</span><span class="on">_</span></li>
        <li class="right-shift lastitem">Shift</li>
        <li class="space lastitem">&nbsp;</li>
    </ul>
</div>
